
--foreground: #111;
--background: #ccc;

@media (prefers-color-scheme: dark) {
  --foreground: #cdc;
  --background: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
}


main {
  padding: 3%;
}

/* Taken from default color in Firefox.  Colors in Chromium ugly esp. on #edb background.  */
/* a { */
/*   color: #0066cc; */
/* } */


/* TODO: no margin-right on mobile pls */
blockquote {
  background: #ccc;
  /* padding: 0.5em 1em 0.5em 1em; */

  @media (prefers-color-scheme: dark) {
    background: #444;
  }
}

/* org-mode's src export */
.src {
  /* background: #040; */
}

footer {
  text-align: right;
}

.monospace {
  font-family: monospace;
}

.top-bar {
  background-color: #5a5;
  width: 100%;
  overflow: hidden;
}

.top-bar a {
  background-color: #aea;
  float: left;
  padding: 0.5em;
  margin: 2px;
}

/* REVIEW: What if the margin compounds?  The first rule applies to all body text
 * in the entire page, and the succeeding rules don't add to the margin, so they
 * are unnecessary except for how they affect succeeding h2 tags? */

/* h2 ~ *:not(h2):not(ul):not(ol):not(li) { */
/*   margin-left: 2em; */
/* } */

h3,h4,h5,h6,h7,h8 {
  margin-left: 0.5em;
}

h3 ~ *:not(h3):not(ul):not(ol):not(li) {
  margin-left: 1em;
}
h4 ~ *:not(h4):not(ul):not(ol):not(li) {
  margin-left: 1em;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  color: blue;
  content: "↗️";
}

.broken-link {
  color: red;
}

.stub-link {
  color: var(--foreground);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
