@charset "utf-8";

// true black for OLED screens
$black: #000;

$body-line-height: 1.3;

a[href^="http://"]:after,
a[href^="https://"]:after {
  color: blue;
  content: "↗️";
}

// TODO: on desktop or higher breakpoints, indent note sections like org-indent-mode


@import "~bulma/bulma.sass";


.broken-link {
  color: $danger;
}

.stub-link {
  color: $text;;
}
