@charset "utf-8";

// OVERRIDES

$body-line-height: 1.3;

// Make "$black" true black because of OLED screens
$black: #000;

@import "~bulma/bulma.sass";
@import "~bulma-prefers-dark/bulma-prefers-dark.sass";

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

// TODO: For certain pages (with .outline-* div classes), indent sections like
// org-indent-mode.  Maybe with shifting background colors.
.outline-2,
.outline-3,
.outline-4,
.outline-5,
.outline-6 {
  padding-left: $size-7;
  padding-bottom: 1px; //magic
}

h1+.outline-2,
.outline-text-2+.outline-3,
.outline-text-3+.outline-4,
.outline-text-4+.outline-5,
.outline-text-5+.outline-6 {
  padding-top: $size-7;
}

.outline-3,
.outline-5 {
  background: $white;
  @media (prefers-color-scheme: dark) {
    background: $black;
  }
}

.outline-2,
.outline-4,
.outline-6 {
  background: $white-ter;
  @media (prefers-color-scheme: dark) {
    background: $grey-dark;
  }
}

.outline-2:last-of-type,
.outline-3:last-of-type,
.outline-4:last-of-type,
.outline-5:last-of-type,
.outline-6:last-of-type {
  padding-bottom: $size-7;
}


// TODO: in .logseq spans, destyle headings.
// Though this wouldn't really be blind-readable compared to just replacing the
// heading tags for <p> tags.  IDK how the blind would best read lists with deep
// nesting, and how to explain the nesting thru aria.
.logseq h2,h3,h4,h5,h6 {
  font-size: $size-normal;
  font-weight: $weight-normal;
  line-height: $body-line-height;
  margin-bottom: 1rem;
}

// Emacs exports src colors according to the color theme I had active, and I
// always use a dark theme.  So mandate that all src blocks have dark background
// regardless of prefers-color-scheme, then it'll look fine.
pre.src {
  background: $grey-darker;
  color: $white-ter;
}

.broken-link {
  color: $danger;
}

.stub-link {
  color: $text;
}

.section a {
  text-decoration: underline;
}

#big-list th:hover {
  background: $grey-lighter;
  @media (prefers-color-scheme: dark) {
    background: $grey;
  }
}

@media only screen and (max-width: $tablet) {
  article,
  .section {
    padding-left:  3px !important;
    padding-right: 3px !important;
    margin-right:  3px !important;
    margin-right:  3px !important;
  }
}
