@charset "utf-8";

// true black for OLED screens
$black: #000;

$body-line-height: 1.3;

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

// TODO: on desktop or higher breakpoints, indent note sections like org-indent-mode


@import "~bulma/bulma.sass";
@import "~bulma-prefers-dark/bulma-prefers-dark.sass";

.broken-link {
  color: $danger;
}

.stub-link {
  color: $text;
}

.section a {
  text-decoration: underline;
}

// Testing this, but should probably use $size-7 or something nonzero
@media only screen and (max-width: 768px) {
  article {
    padding-left:  0 !important;
    padding-right: 0 !important;
    margin-right:  0 !important;
    margin-right:  0 !important;
  }
}
